
@{
    ViewData["Title"] = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><b>@User.Identity.Name</b></h1>


@if (Global.QuizScore <= 100 && Global.QuizScore >= 70)
{
    <img id="img_Happy" src="@Url.Content("~/Images/Happy.jpg")" />
}
else if (Global.QuizScore <= 69 && Global.QuizScore >= 40)
{
    <img id="img_Hungry" src="@Url.Content("~/Images/Hungry.jpg")" />
}
else if (Global.QuizScore <= 39 && Global.QuizScore >= 1)
{
    <img id="img_Angry" src="@Url.Content("~/Images/Angry.jpg")" />
}
else
{
    <img id="img_Farm" src="@Url.Content("~/Images/Farm2.jpg")" style="width:500px;height:300px;" class="align-middle" />
}
<div class="card-deck">
    <div class="card bg-warning">
        <div class="card-body text-center">
            <p class="card-text">Leaderboard</p>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <form asp-controller="GamePlay" asp-action="QuizQuestion">
                <p>
                    <b>Please Select Your Level:</b>
                    <select name="Difficulty">
                        <option value="beginner">Beginner</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                    </select>
                </p>
                <p>
                    <b>Please select your category:</b>
                    <select name="Category">
                        <option value="0">Simple Arithmetic</option>
                        <option value="1">Fraction Arithmetic</option>
                        <option value="2">Exponent Radicals Arithmetic</option>
                        <option value="3">Simple Trigonometry</option>
                        <option value="4">Matrices Arithmetic</option>
                        <option value="5">Linear Equations</option>
                        <option value="6">Equations Containing Radicals</option>
                        <option value="7">Equations Containing AbsoluteValues</option>
                        <option value="8">Quadratic Equations</option>
                        <option value="9">Higher Order Polynomial Equations</option>
                        <option value="10">Equations Involving Fractions</option>
                        <option value="11">Exponential Equations</option>
                        <option value="12">Logarithmic Equations</option>
                        <option value="13">Trigonometric Equations</option>
                        <option value="14">Matrices Equations</option>
                        <option value="15">Polynomial Differentiation</option>
                        <option value="16">Trigonometric Differentiation</option>
                        <option value="17">Exponents Differentiation</option>
                        <option value="18">Polynomial Integration</option>
                        <option value="19">Trigonometric Integration</option>
                        <option value="20">Exponents Integration</option>
                        <option value="21">Polynomial Definite Integrals</option>
                        <option value="22">Trigonometric Definite Integrals</option>
                        <option value="23">Exponents DefiniteIntegrals</option>
                        <option value="24">First Order Differential Equations</option>
                        <option value="25">Second Order Differential Equations</option>
                    </select>
                </p>
                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary" value="Start Quiz" />
                </div>
            </form>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <p class="card-text">Stats</p>
        </div>
    </div>
</div>

